@font-face {
    font-family:figTree ;
    src: url(assets/fonts/Figtree-VariableFont_wght.ttf);
}
:root{
    --Yellow: hsl(47, 88%, 63%);

    --White: hsl(0, 0%, 100%);

    --Gray500: hsl(0, 0%, 42%);
    --Gray950: hsl(0, 0%, 7%);

}
.card{
    width: max-content;
    max-width:24rem ;
}
.card--bgClrWhite{
    background-color: var(--White);
}
.card--border{
    border: thin solid black;
    
}
.card--borderRadius_20px{
    border-radius: 1.25rem;
}
.card--borderRadius_10px{
    border-radius: .625rem;
}
.card--padding24px{
    padding: 1.5rem;
}
.card--shadow{
    box-shadow: .5rem .5rem black;
}
.card--colorGray500{
    color: var(--Gray500);
}
.card__topImg{
    width: 100%;
}

.card__strong{
    background-color: var(--Yellow);
    padding:.25rem .75rem;

}
.card--borderRadius_4px{
    border-radius: .25rem;
}
body{
    display: flex;
    min-height: 100vh;
    justify-items: center;
    align-items: center;
    justify-content: center;
    font-family: figTree;
    font-style: normal;
    background-color: var(--Yellow);
    color: var(--Gray950);
    /* margin: 0rem; */
}
main{
    margin:1.5rem auto 1.5rem auto ;
}
main *{
    margin:.75rem auto .75rem auto ;
}
main a{
    text-decoration: none;
    color: inherit;

}
main h1:hover{
    color: var(--Yellow);
}
.AboutSection{
    display: flex;
    align-items: center;
}
.AboutSection__img{
width: 2rem ;height: 2rem;
}
.AboutSection__p{
    padding-left:.75rem;
    font-weight: bold;
    color: var(--Gray950);
}
